<VirtualHost *:80>
    DocumentRoot /usr/local/django/projects/annolex
    ServerName annolex.at.northwestern.edu

    Alias /robots.txt /usr/local/django/projects/annolex/media/robots.txt
    Alias /favicon.ico /usr/local/django/projects/annolex/media/favicon.ico

    Alias /media/ /usr/local/django/projects/annolex/media/

    <Directory /usr/local/django/projects/annolex/media>
        Order deny,allow
        Allow from all
    </Directory>
    
    WSGIScriptAlias / /usr/local/django/projects/annolex/apache/django.wsgi

    <Directory /usr/local/django/projects/annolex/apache>
        Order deny,allow
        Allow from all
    </Directory>

</VirtualHost>
