{% extends "start.html" %}
{% block content %}
<div id="main">
  <div id="rightbar">
  <div id="reviewchoices">
     <h3><center>Filter Corrections</center></h3>
    <table>
    <form action="" method="POST">
    {{ reviewchoicesform.as_table }}
    <tr><td/><td><input type="submit" name="which_post" value="Filter" id="submit"></td></tr>
        <div id="reviewchoices_errors" style="color: red;">
            {% if reviewchoicesform.errors %}
            <p>
                Please correct the error{{ reviewchoicesform.errors|pluralize }} below.
            </p>
            <ul>
            {% for field in reviewchoicesform %}
              {% if field.errors %}
                <li>{{ field.label }} <strong>{{ field.errors }}</strong></li>
               {% endif %}
            {% endfor %}
            </ul>
            {% endif %}
        </div>
    </form>
    </table>
  </div>
  </div>
  <div id="corrections">
    {% if corrections %}
    <table class="wordlist">
      <thead>
        <tr>
        <th>Correction</th>
        <th>Corrector</th>
        <th>Approver</th>
        <th>Applier</th>
        {% if user.is_authenticated and user.is_superuser %}
            <th>Action</th>
        {% endif %}
        </tr>
      </thead>
      <tbody>
      {% for correction in corrections.object_list %}
        <tr>
          <td>
              {{ correction.get_operation_display }} {{ correction.wordid_from.wordid }}:
              {{ correction.wordid_from.KwicL }} 
              <br>
              {% ifnotequal correction.operation 2 %}<del>{% endifnotequal %}
              {{ correction.spelling_from }} ({{ correction.lemma_from }}, 
              {{ correction.pos_from }}){% ifnotequal correction.operation 2 %}</del>{% endifnotequal %}
              {% ifnotequal correction.operation 3 %}
              {% if correction.spelling_to %} 
                 <b>{{ correction.spelling_to }}</b> 
              {% else %}
                 {{ correction.spelling_from }} 
              {% endif %}
              {% if correction.lemma_to %}
                 (<b>{{ correction.lemma_to }}</b> 
              {% else %}
                 ({{ correction.lemma_from }}
              {% endif %},
              {%if correction.pos_to %}
                 <b>{{ correction.pos_to }}</b>) 
              {% else %}
                 {{ correction.pos_from }})
              {% endif %}
              {% endifnotequal %}
              {{ correction.wordid_from.KwicR }}
              <br> {{ correction.annotation }}</td>
          <td>{{ correction.corrected_by }} <br> {{ correction.corrected_date }}</td>
          <td>{{ correction.approved_by }} <br> {{ correction.approved_date }}</td>
          <td>{{ correction.applied_by }} <br> {{ correction.applied_date }}</td>

          {% if user.is_authenticated and user.is_superuser %}

          <td>
            <form action="" method="post">
              <input type="hidden" name="id" value="{{ correction.id }}" />
              <input type="submit" name="which_post" value="Approve" />
            </form>
          </td>
          
          {% endif %}
        </tr>
    
      {% endfor %}

      </tbody>
    </table>
    {% else %}
    <table width = "50%">
    <tr><td>There are currently no corrections to review.</td></tr>
    </table>
    {% endif %}
  </div> <!-- wordlist -->


</div> <!-- main -->
<div id="pagination" class="pagination" align="right">
    <span class="step-links">
        {% if corrections.has_previous %}
            <a href="?page=1">First</a> &middot;
            <a href="?page={{ corrections.previous_page_number }}">Previous</a> &middot;
        {% endif %}

        <span class="current">
            Page {{ corrections.number }} of {{ corrections.paginator.num_pages }}
        </span>

        {% if corrections.has_next %}
            &middot; <a href="?page={{ corrections.next_page_number }}">Next</a>
            &middot;<a href="?page=last">Last</a>
        {% endif %}
    </span>
</div>
{% endblock %}