{% extends "start.html" %}
{% block content %}
<div id="main">
  <div id="rightbar">
  <div id="correction_detail">
<h2>{{ object }}</h2>
<table>
    <col align="right"/>
    <col />
    <tr><td>Operation:</td><td> {{ object.get_operation_display }}</td></tr>
    <tr><td>Spelling From:</td><td>{{ object.spelling_from }}</td></tr>
    <tr><td>Spelling To:</td><td>{{ object.spelling_to }}</td></tr>
    <tr><td>Lemma From:</td><td>{{ object.lemma_from }}</td></tr>
    <tr><td>Lemma To:</td><td>{{ object.lemma_to }}</td></tr>
    <tr><td>POS From:</td><td>{{ object.pos_from }}</td></tr>
    <tr><td>POS To:</td><td>{{ object.pos_to }}</td></tr>
    <tr><td>Word ID From:</td><td>{{ object.wordid_from }}</td></tr>
    <tr><td>Word ID To:</td><td>{{ object.wordid_to }}</td></tr>
    <tr><td>Corrected By:</td><td>{{ object.corrected_by }}</td></tr>
    <tr><td>Corrected Date:</td><td>{{ object.corrected_date }}</td></tr>
    <tr><td>Approved By:</td><td>{{ object.approved_by }}</td></tr>
    <tr><td>Approved Date:</td><td>{{ object.approved_date }}</td></tr>
    <tr><td>Applied By:</td><td>{{ object.applied_by }}</td></tr>
    <tr><td>Applied Date:</td><td>{{ object.applied_date }}</td></tr>
    <tr><td>Annotation:</td><td>{{ object.annotation }}</td></tr>
</table>
  </div>
  </div>
<h2>Review Corrections</h2>
<ul>
  {% for correction in object_list %}
  <li><a href="{{ correction.get_absolute_url }}">{{ correction }}</a></li>
  {% endfor %}
</ul>
</div> <!-- main -->
<div id="pagination" class="pagination" align="right">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">First</a> &middot;
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a> &middot;
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            &middot; <a href="?page={{ page_obj.next_page_number }}">Next</a>
            &middot;<a href="?page=last">Last</a>
        {% endif %}
    </span>
</div>
{% endblock %}